@import "tailwindcss";

@font-face {
    font-family: "Satoshi";
    src: url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.eot");
    src: url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2bf16335573007d828f4197c2b884c04.svg#Satoshi")format("svg");
}

@utility font-title-t1 {
  font-family: var(--font-font-family-title, "Sharp Sans"), var(--font-font-family-body, "Inter");
  font-size: var(--spacing-32x);
  line-height: 110%;
  letter-spacing: -2.48px;
}